In [1]:
import os
import re
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
import calendar

# plot modules
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
matplotlib.style.use("ggplot")

In [4]:
new_cols = ["C/A", "UNIT", "SCP", "STATION", "LINENAME", "DIVISION", "DATE", "TIME", "DESC", "ENTRIES", "EXITS"]
jan06_2018_path = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_180106.txt"
jan06_2018_mta_data = pd.read_csv(jan06_2018_path, sep=",", header=0, names=new_cols)


mta_datasets_2018 = [jan06_2018_mta_data]

In [5]:
####### SAMPLE DATASET
### looking at the most recent MTA data from June 29, 2019 in NY
path = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt"
new_cols = ["C/A", "UNIT", "SCP", "STATION", "LINENAME", "DIVISION", "DATE", "TIME", "DESC", "ENTRIES", "EXITS"]
MTA_data = pd.read_csv(path, sep=",", header=0, names=new_cols)

In [6]:
### add turnstile passes column
MTA_data['TURNSTILE_PASSES'] = MTA_data['ENTRIES'] + MTA_data['EXITS']
MTA_data.sample(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TURNSTILE_PASSES
64485,N116,R198,00-03-00,NOSTRAND AV,AC,IND,06/27/2019,08:00:00,REGULAR,5245539,2685736,7931275
170697,R294,R052,00-00-01,WOODLAWN,4,IRT,06/22/2019,08:00:00,REGULAR,7839318,2852119,10691437
67855,N135,R385,01-06-00,ROCKAWAY BLVD,A,IND,06/22/2019,01:00:00,REGULAR,2940565,618461,3559026
93070,N414A,R316,01-00-02,FLUSHING AV,G,IND,06/27/2019,17:00:00,REGULAR,1488768,679866,2168634
65158,N120,R153,00-05-01,UTICA AV,AC,IND,06/27/2019,13:00:00,REGULAR,2,231,233
65388,N120A,R153,01-05-01,UTICA AV,AC,IND,06/23/2019,21:00:00,REGULAR,0,224,224
190360,R532,R328,00-05-03,METS-WILLETS PT,7,IRT,06/28/2019,09:00:00,REGULAR,621783,32406,654189
109032,N601,R319,00-00-04,LEXINGTON AV/63,F,IND,06/23/2019,20:00:00,REGULAR,1540386,151336,1691722
43310,N009,R174,01-00-01,181 ST,A,IND,06/24/2019,01:00:00,REGULAR,7995493,6464117,14459610
116557,PTH03,R552,00-01-02,JOURNAL SQUARE,1,PTH,06/26/2019,13:42:20,REGULAR,25448,40858,66306

In [7]:

## add day of the week column
MTA_data["DATE"] = pd.to_datetime(MTA_data["DATE"])
days = [calendar.day_name[date.weekday()] for date in MTA_data["DATE"]]
MTA_data["DAY_OF_WEEK"] = days

In [8]:

### sort and group by date
MTA_data["DATE"] = MTA_data["DATE"]
date_grouped_MTA_data = MTA_data.groupby("DATE").count()
date_sorted_MTA_data = MTA_data.sort_values("DATE")

In [9]:
# rearrange columns
cols = MTA_data.columns.tolist()
len(cols)
c1, c2, c3 = list(cols[:7]), cols[-1:], list(cols[7:-1])
cols = c1 + c2 + c3
cols
MTA_data = MTA_data[cols]

In [10]:
# new DataFrame with relevant data
condensed_cols = [cols[3], cols[6], cols[7], cols[8], cols[10], cols[11], cols[-1]]
condensed_MTA_data = MTA_data[condensed_cols]
condensed_MTA_datas

NameError: name 'condensed_MTA_datas' is not defined

In [ ]:
### 378 different subway stations
len(MTA_data.STATION.unique())

In [ ]:
### group by columns and sort by highest activity
grouped_by_station = condensed_MTA_data.groupby('STATION').count().sort_values("DATE", ascending=False)
grouped_by_station
grouped_by_time = condensed_MTA_data.groupby('TIME').count()
grouped_by_time.sample(10)